/*Fonts*/
@font-face {
    font-family: 'Work-Sans';
    src: url('../fonts/WorkSans-Regular.eot');
    src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-Regular.woff') format('woff'),
        url('../fonts/WorkSans-Regular.ttf') format('truetype'),
        url('../fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url('../fonts/WorkSans-Medium.eot');
    src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-Medium.woff') format('woff'),
        url('../fonts/WorkSans-Medium.ttf') format('truetype'),
        url('../fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url('../fonts/WorkSans-SemiBold.eot');
    src: url('../fonts/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-SemiBold.woff') format('woff'),
        url('../fonts/WorkSans-SemiBold.ttf') format('truetype'),
        url('../fonts/WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url('../fonts/Times.eot');
    src: url('../fonts/Times.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Times.woff') format('woff'),
        url('../fonts/Times.ttf') format('truetype'),
        url('../fonts/Times.svg#Times') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times-bold';
    src: url('../fonts/Times-Bold.eot');
    src: url('../fonts/Times-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Times-Bold.woff') format('woff'),
        url('../fonts/Times-Bold.ttf') format('truetype'),
        url('../fonts/Times-Bold.svg#Times-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*Menú web*/

#masthead .container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

#masthead .container:after {
  content: "";
  display: table;
  clear: both;
}

#masthead .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: #000;
}
#masthead .container .logo img {
    width: 150px;
    transition: all .3s ease;
}

.hero {
  width: 100%;
    height: auto;
    position: relative;
}
#masthead .container .logo {
    margin: 1.5em;
    transition: all .3s ease;
}
#masthead .container .logo h1 {
    display: none;
}
.hero * {
  position: relative;
  z-index: 1;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
}
#masthead:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

#masthead.is-active:after {
  opacity: 1;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: inherit;
    margin: 0 0 0 24px;
    overflow: visible;
    outline: none;
    padding: 0;
    text-transform: none;
    transition: opacity 0.15s;
    -webkit-appearance: none;
    z-index: 2;
}

.hamburger:hover {
  opacity: 0.7; 
}

.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 23px;
    height: 3px;
    background-color: #9E7E53;
    border-radius: 7px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

#masthead.is-active .hamburger-inner, 
#masthead.is-active .hamburger-inner::before, 
#masthead.is-active .hamburger-inner::after {
    background-color: var(--dorado-uno);
}

.hamburger-inner::before, 
.hamburger-inner::after {
  content: "";
  display: block; 
}

.hamburger-inner::before {
  top: -8px; 
}

.hamburger-inner::after {
  bottom: -8px; 
}

.hamburger--boring .hamburger-inner, 
.hamburger--boring .hamburger-inner::before, 
.hamburger--boring .hamburger-inner::after {
  transition-property: none; 
}

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); 
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0; 
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); 
}

.hamburger-label {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1;
  margin-left: 0.3125em;
  text-transform: uppercase;
}

#masthead.is-active .hamburger-label {
  color: #000;
}

.hamburger-box,
.hamburger-label {
  display: inline-block;
  vertical-align: middle;
}

#site-nav {
  clear: both;
  display: none;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  padding: 2.5em;
  width: 100%;
}
#masthead .container .opciones-cabecera {
    display: flex;
    color: #FFF;
    margin-right: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    width: calc(100% - 150px);
    margin: 1.5em;
    transition: all .3s ease;
}

#masthead .container .opciones-cabecera .tutorial img {
    vertical-align: middle;
}
#masthead .container .opciones-cabecera .tutorial {
    display: block;
    width: auto;
    text-align: center;
    height: 31px;
    line-height: 29px;
    border-right: 1px solid var(--dorado-uno);
    padding-right: 15px;
    margin-right: 15px;
}
#masthead .container .opciones-cabecera .welcome {
    margin-right: 15px;
}
#masthead .container .opciones-cabecera .carrito .nro-items {
    position: absolute;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 145%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 18px;
    height: 18px;
    border: 1px solid var(--dorado-uno);
    border-radius: 100%;
    top: -7px;
    right: -12px;
    background: #000;
}

#masthead .container .opciones-cabecera .carrito {
    margin-right: 5px;
    position: relative;
}
#masthead .container .opciones-cabecera .welcome p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
#site-nav.is-active {
    height: calc(100vh - 125px);
    overflow: visible;
    background: #000 url(../img/bg-menu.png);
    width: 100%;
    transition: all .3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#site-nav .col { 
  padding-bottom: 2.5em;
} 

@media screen and (min-width: 550px) {
  #site-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #site-nav .col {
    flex: 0 0 50%;
  } 
}

@media screen and (min-width: 768px) {
  #site-nav .col {
    flex: 0 0 33.333333333%;
  } 
}

@media screen and (min-width: 960px) {
  #site-nav {
    flex-wrap: nowrap;
  }
  
  #site-nav .col {
    flex: 0 0 20%;
  } 
  
  #site-nav .col:last-child {
    display: flex;
    justify-content: flex-end;
  }  
}

#site-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#site-nav .cronograma {
    width: 100%;
    text-align: center;
    border-top: 1px dashed rgb(158, 126, 83, 0.6);
    padding-top: 20px;
    margin-top: 5px;
}
#site-nav .cronograma a {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #524735;
}

#site-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

#site-nav li {
  margin-bottom: 25px;
}
#site-nav li:last-child {
    margin-bottom: 15px;
}
#site-nav li a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: Times;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
#site-nav li a img {
    margin-right: 12px;
}

#site-nav li a:hover,
#site-nav li a:focus,
#site-nav li.active a {
  color: var(--dorado-uno);
}

#site-nav .social {
  margin: 0;
  overflow: hidden;
}

#site-nav .social li {
  float: left;
  margin: 0 0.3125em;
  width: 32px;
  height: 32px;
}

#site-nav .social li svg {
  display: block;
  fill: #b4b9ba;
  width: 100%;
  height: 100%;
  transition: fill 0.3s ease;
}

#site-nav .social li:hover svg {
  fill: #686d6e;
}
#masthead.is-active .container .opciones-cabecera .tutorial, 
#masthead.is-active .container .opciones-cabecera .carrito {
    display: none;
}
#masthead-search {
  float: right;
  margin-top: 0.625em;
  width: 100%;
  max-width: 14em;
  position: relative;
  -webkit-appearance: none;
}

#masthead-search input {
  background: transparent;
  border: none;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  outline: none;
  width: 100%;
  padding: 0.75em 1.125em;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
}

#masthead-search button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0.75em;
  transform: translateY(-50%);
  -webkit-appearance: none;
}

#masthead.is-active #masthead-search button {
  color: #b4b9ba;
}

#masthead.is-active #masthead-search input {
  border-color: #b4b9ba;
}

#masthead-search ::-webkit-input-placeholder {
    color:    #fff;
}

#masthead-search :-moz-placeholder {
   color:    #fff;
   opacity:  1;
}

#masthead-search ::-moz-placeholder {
   color:    #fff;
   opacity:  1;
}

#masthead-search :-ms-input-placeholder {
   color:    #fff;
}

#masthead.is-active #masthead-search ::-webkit-input-placeholder {
    color:    #b4b9ba;
}

#masthead.is-active #masthead-search :-moz-placeholder {
   color:    #b4b9ba;
   opacity:  1;
}

#masthead.is-active #masthead-search ::-moz-placeholder {
   color:    #b4b9ba;
   opacity:  1;
}

#masthead.is-active #masthead-search :-ms-input-placeholder {
   color: #b4b9ba
}

#masthead .col {
  opacity: 0;
}

#masthead.is-active .col {
  transform: translateY(40px);
  transition: opacity 0.3s ease;
  animation: fade-in-stagger 0.8s ease forwards;
}

#masthead.is-active .col:nth-child(1) {
    -webkit-animation-delay: 0;
}

#masthead.is-active .col:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

#masthead.is-active .col:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

#masthead.is-active .col:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

#masthead.is-active .col:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

@keyframes fade-in-stagger {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}
#masthead.header-fixed .container .logo {
    margin: 0.5em 1.5em;
}

#masthead.header-fixed .container .logo img {
    width: 120px;
}

#masthead.header-fixed .container .opciones-cabecera {
    margin: 0.5em 1.5em;
}

#masthead.is-active.header-fixed #site-nav {
    height: calc(100vh - 78px);
}












* {
	box-sizing: border-box;
}
:root {
    --dorado-uno: #9E7E53;
    --dorado-dos: #524735;
    --negro: #000;
    --gris: #231F20;
    --rojo: #ED1C24;
}
main {
    display: block;
    padding-top: 124px;
}
body {
	margin: 0;
	padding: 0;
    background-color: var(--negro);
}
a {
	text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: var(--gris); 
}
div#tlegales .legales-content .legales-txt .content-legales::-webkit-scrollbar-track {
    background: rgb(35, 31, 32, 0.2)
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dorado-uno);
  transition: background .3s ease; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dorado-dos); 
}
.login, .registro {
    position: relative;
}

.login header .content,
.registro header .content {
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 25px 0;
}

.login header .content .logo h1 ,
.registro header .content .logo h1 {
    display: none;
}

.login header .content .logo img ,
.registro header .content .logo img {
    height: 150px;
    margin-right: 50px;
}

.login header .content .presentacion ,
.registro header .content .presentacion {
    position: relative;
    margin-left: 50px;
}

.login header .content .presentacion:before ,
.registro header .content .presentacion:before {
    content: "";
    height: 187px;
    border: 1px solid var(--dorado-dos);
    position: absolute;
    left: -50px;
    top: 0px;
    z-index: 1;
    width: 0;
}

.login header .content .presentacion h2 ,
.registro header .content .presentacion h2 {
    font-family: Times-bold;
    font-size: 31.5083px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.login header .content .presentacion .bajada ,
.registro header .content .presentacion .bajada {
    font-family: Work-Sans;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.login header .content .presentacion .texto ,
.registro header .content .presentacion .texto {
    font-family: Work-Sans;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.5;
}

.login .inicio .content .formulario .ir-otro {
    margin-top: 0;
    margin-bottom: 15px;
}
.login .inicio .content .formulario .ir-otro a {
    font-size: 16px;
}
.inicio .content .slider .fade .item img {
    width: 100%;
}

.inicio .content .slider .fade .item {
    position: relative;
}

.inicio .content .slider .fade .item .descripcion {
    position: absolute;
    top: 38%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-family: Times-bold;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
    text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.67);
}

.inicio .content {
    position: relative;
}

.inicio .content .formulario {
    position: absolute;
    top: 15px;
    right: 12%;
    z-index: 999;
}
.inicio .content .formulario .ir-otro {
    background: #F0F0F0;
    box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 357px;
    margin-top: 15px;
    border-top: 1.5px solid var(--dorado-dos);
}
.inicio .content .formulario .ir-otro p {
    margin: 0;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14.4231px;
    line-height: 145%;
    color: #231F20;
}
.inicio .content .formulario .ir-otro a {
    background: var(--dorado-dos);
    border-radius: 32px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    height: 48px;
    transition: all .3s ease;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 120px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
}
.inicio .content .formulario .ir-otro a:hover {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
}
.inicio .content .formulario .inner form {
    background: #F0F0F0;
    box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    max-width: 357px
}

.inicio .content .formulario .inner form h3 {
    font-family: Times-bold;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: var(--dorado-dos);
    margin-top: 0;
    width: 100%;
}

/*Formulario*/
.form-registro.inner form,
.form-login.inner form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
}
.inner .form-row {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 25px;
}
.inner .form-row.form-row-date {
    padding-bottom: 0;
}
.inner .form-row.form-row-tyc {
    padding-bottom: 0;
}
.inner .form-row.form-row-btn {
    padding-bottom: 0;
    text-align: center;
}
.inner .form-row.form-row-half {
    width: 48%;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0;
    position: relative;
}
.inner .form-row .form-holder.form-holder-1 {
    width: 84.1%;
}
.inner .form-row .form-holder.form-holder-2 {
    width: 100%;
    position: relative;
}
.inner .form-row .form-holder.form-holder-2.flex {
    margin-top: 0;
    margin-bottom: 20px;
}
.inner .form-row .form-row-inner {
    width: 100%;
    margin-bottom: 0;
}
.inner .form-row .form-holder .label {
    font-family: Work-Sans;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: var(--dorado-dos);
}
.inner .form-row #radio {
    color: #666;
    font-weight: 400;
    font-size: 16px;
    margin: 8px 12px;
}
.inner .form-row #checkbox {
    margin: 10px 0 28px 11px;
    font-size: 15px;
    color: #666;
    font-weight: 400;
}
.inner .form-row .form-holder label.special-label {
    display: inline-block;
    float: left;
    margin-top: 25px;
    padding-right: 20px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
}
.inner .form-row .form-holder label.pay-1-label,
.inner .form-row .form-holder label.pay-2-label {
    width: 190px;
    height: 95px;
    border:  1px solid #e5e5e5;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-right: 15px;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.inner .form-row .form-holder label.pay-1-label img,
.inner .form-row .form-holder label.pay-2-label img {
    padding-top: 15px;
    padding-bottom: 8px;
}
.inner .form-row.form-row-date .form-holder select {
    width: 100%;
    padding-top: 20px;
    height: 47px;
    line-height: normal;
}
.inner .form-row.form-row-date .form-holder .label {
    color: #ff6900;
    font-size: 16px;
}
.inner .form-row .form-holder ul li {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #FFF;
}

.inner .form-row .form-holder ul {
    padding: 0;
}

.inner .form-row .form-holder ul li a {
    color: #FFF;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    line-height: 18px;
}

.inner .form-row .form-holder ul li:first-child a {
    text-decoration: underline;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select,
.inner .form-row .form-holder .enviar {
    width: 100%;
    border: none;
     appearance: unset; 
    -moz-appearance: unset;
     -webkit-appearance: unset; 
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
     box-sizing: border-box; 
    -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.inner .form-row .form-holder input {
    font-family: 'Work-Sans';
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #231F20;
    height: 32px;
    box-shadow: none;
    margin-bottom: 0;
    line-height: 24px;
    padding: 0;
    background: transparent;
    border-bottom: 1.2px solid rgb(35, 31, 32, 0.3);
}
.inner .form-row .form-holder .enviar {
    background: var(--dorado-uno);
    border-radius: 32px;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    height: 51px;
    transition: all .3s ease;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 184px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
}
.inner .form-row .form-holder .enviar img {
    margin-right: 12px;
}
.inner .form-row .form-holder .enviar:hover {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
}
.inner .form-row .form-holder input#tyc {
    width: 34%;
    padding: 0;
    height: 20px;
    margin: 0;
    z-index: 9;
    top: 7px;
}
.inner .form-row .form-holder input#pay-1,
.inner .form-row .form-holder input#pay-2 {
    display: none;
}
.inner .form-row .form-holder select {
    background: url(../img/select.png) no-repeat scroll;
    background-position: right 5px top 9px;
    background-size: 11px auto;
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-family: 'Work-Sans';
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #231F20;
    height: 32px;
    box-shadow: none;
    margin-bottom: 0;
    line-height: 24px;
    padding: 0;
    border-bottom: 1.2px solid rgb(35, 31, 32, 0.3);
}
.inner .form-row .form-holder select:focus,
.inner .form-row .form-holder select:valid  {
    border-bottom: 1.2px solid var(--dorado-uno);
}
.inner .form-row .form-holder select:valid {
    font-size: 20px;
    padding-right: 20px;
}
.inner .form-row .form-holder .form-control:focus, 
.inner .form-row .form-holder .form-control:valid {
    border-bottom: 1.2px solid var(--dorado-uno);
}

.form-control:focus {
    border-color: #284eb0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inner .form-row  .form-holder input#pay-1:checked + label,
.inner .form-row  .form-holder input#pay-2:checked + label {
    border:  none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.checkbox-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
}
span.checkbox-custom-span, span.checkbox-custom-span a {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: var(--dorado-dos);
}

span.checkbox-custom-span a {
    text-decoration: underline;
}
.checkbox-custom-label {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 22px;
    width: 22px;
    outline: none;
    margin-right: 5px;
    border-radius: 5px;
    border: 0;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: transparent;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid var(--dorado-dos);
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: '';
    background: url(../img/check.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    border-radius: 1px;
    border: 0;
}


.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.login footer,
.registro footer {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #C5C5C5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.44%, #000000 57.49%);
    padding-bottom: 25px;
    mix-blend-mode: normal;
}
.login footer .content,
.registro footer .content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    padding-top: 130px;
}

div#tlegales {
    position: fixed;
    z-index: 99999;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div#tlegales .legales-content {
    background: #F0F0F0;
    box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
    width: 600px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding-left: 30px;
}
div#tlegales .legales-content a#close {
    position: relative;
    right: 0;
    left: 96%;
    color: var(--dorado-uno);
    font-size: 25px;
}
div#tlegales .legales-content .legales-txt {
    color: var(--dorado-dos);
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
}
div#tlegales .legales-content .legales-txt .content-legales {
    max-height: 300px;
    overflow: auto;
    padding-right: 16px;
}

/*Banners Home*/
.eventos .content .banners-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.eventos .content .banners-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.eventos .content .banners-home .slider-for {
    width: 70%;
}

.eventos .content .banners-home .slider-nav {
    width: 30%;
    margin: 0 auto;
    background: #F0F0F0;
}

.eventos .content .banners-home .slider-for .item {
    position: relative;
}

.eventos .content .banners-home .slider-for .item img {
    width: 100%;
    height: auto;
}

.eventos .content .banners-home .slider-nav .item {
    background-color: #F0F0F0;
    height: 100%;
    padding: 30px;
    outline: none;
}

.eventos .content .banners-home .slider-nav .item .description.sale-exclusive {
    flex-direction: column;
}

.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content, 
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter {
    width: 100%;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter {
    background: var(--dorado-uno);
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #FFF;
}

.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter p {
    margin: 0 auto;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .text p.bodega:before {
    content: "";
    background: url(../img/bodegas_banner.png);
    background-size: 20px;
    background-repeat: no-repeat;
    height: 16px;
    padding: 0px 10px;
    left: 0;
    position: absolute;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .text p {
    display: flex;
    align-items: center;
}

.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .text p img {
    margin-right: 10px;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .text p.bodega {
    padding-left: 29px;
    position: relative;
}
.eventos .content .banners-home .slider-nav .item .description.crono .content .title h2 {
    color: #231F20;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .title h2 {
    font-family: Times-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: -0.01em;
    color: #231F20;
    margin: 15px auto;
    text-align: left;
    width: 100%;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .text p.bodega strong {
    margin-left: 5px;
}

.eventos .content .banners-home .slider-nav .item .description .content .cta-btn a.comprar:before {
    content: "";
    background: url(../img/carrito.png);
    padding: 3px 12px;
    background-size: 24px;
    margin-right: 10px;
}
.eventos .content .banners-home .slider-nav .item .description .content .cta-btn a.comprar {
    background: var(--rojo);
    position: relative;
    padding-left: 20px;
}

.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter #fecha {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #C5B198;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter #fecha #hora {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #ECE5DD;
}
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter #fecha #minuto, 
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter #fecha #segundo, 
.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter #fecha .dos-pts {
    font-size: 24px;
    font-weight: normal;
    color: #ECE5DD;
}
.tag-sale {
    background: url(../img/label_dcto.png);
    width: 97px;
    height: 41px;
    line-height: 38px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.tag-sale span {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.tag-sale span > span {
    font-family: Times-bold;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content {
    border-top: 0.5px solid var(--dorado-uno);
    border-bottom: 0.5px solid var(--dorado-uno);
    padding: 20px 0 10px;
}

.eventos .content .banners-home .slider-nav .slick-dots {
    background-color: #B1ACA5;
    bottom: 0;
    padding: 7px 0;
}

.eventos .content .banners-home .slider-nav .slick-arrow {
    position: absolute;
    bottom: 12px;
    z-index: 9;
}

.eventos .content .banners-home .slider-nav .prev.slick-arrow {
    left: 15%;
}

.eventos .content .banners-home .slider-nav .next.slick-arrow {
    right: 15%;
}

.eventos .content .banners-home .slider-nav .slick-dots li button {
    border: 1px solid var(--dorado-dos);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.eventos .content .banners-home .slider-nav .slick-dots li.slick-active button {
    background-color: var(--dorado-dos);
}
.eventos .content .banners-home .slider-nav .slick-dots li button:before {
    content: none;
}

.eventos .content .banners-home .slider-nav .item .description.crono .content .title img {
    margin: 0 auto;
}

.eventos .content .banners-home .slider-nav .item .description .content .title h2 {
  font-family: Times-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 110%;
    color: var(--dorado-dos);
    width: 100%;
    text-transform: uppercase;
}

.eventos .content .banners-home .slider-nav .item .description .content .text {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12.7069px;
    line-height: 140%;
    color: #231F20;
}

.eventos .content .banners-home .slider-for .item .label {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding-left: 75px;
    width: 278px;
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}
.content-users .content .access .item.experto-vino .label#sale-exclusive {
    background: url(../img/label_exclusivo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 52px;
    width: 176px;
    height: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}
.content-users .content .access .item.experto-vino .label#sale-exclusive h2 {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
}
.content-users .content .access .item.experto-vino .label#sale-exclusive span {
    font-family: Times-bold;
    font-style: normal;
    font-size: 18px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    padding: 0;
    background: transparent;
    margin: 0;
    height: auto;
    line-height: 15px;
    margin-bottom: 8px;
}
.eventos .content .banners-home .slider-for .item .label.live {
    background: url(../img/label_live_banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.eventos .content .banners-home .slider-for .item .label.sale-exclusive {
    background: url(../img/label_exclusivo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.eventos .content .banners-home .slider-for .item .label h2 {
    margin: 0;
    font-family: Times-bold;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.eventos .content .banners-home .slider-for .item .label span {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
}
.eventos .content .banners-home .slider-nav .item .description {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.eventos .content .banners-home .slider-nav .item .description .content  .cta-btn a {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    background: #9E7E53;
    border-radius: 36px;
    padding: 0 27px;
    height: 37px;
    display: inline-block;
    outline: none;
    transition: all .3s ease;
}
.eventos .content .banners-home .slider-nav .item .description .content .cta-btn a:hover {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
}
.eventos .content .banners-home .slider-nav .item .description .content .text #tag-live {
    margin-bottom: 40px;
}
.eventos .content .banners-home .slider-nav .item .description .content .text ul {
    padding-left: 16px;
}
.eventos .content .banners-home .slider-nav .item .description .content .cta-btn {
    margin: 22px 0;
}

.eventos .content .banners-home .slider-nav .item .description.live .content .title h2 {
    font-size: 32px;
    line-height: 130%;
}

.eventos .content .banners-home .slider-nav .item .description.live .content .title {
    display: flex;
    align-items: center;
    align-content: center;
    border-top: 0.5px solid var(--dorado-uno);
    border-bottom: 0.5px solid var(--dorado-uno);
    padding: 10px 0;
}

.eventos .content .banners-home .slider-nav .item .description.live .content .title img {
    margin-right: 20px;
}

.eventos .content .banners-home .slider-nav .item .description.live .content .text h3 {
font-family: Times-bold;
    font-style: normal;
    font-size: 28px;
    line-height: 120%;
    color: #231F20;
    margin: 20px auto;
    text-transform: uppercase;
}

#tag-live span {
    background: var(--rojo);
    border-radius: 3px;
    width: 87px;
    height: 26px;
    display: block;
    line-height: 26px;
    text-align: center;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

#tag-live span .dot {
    display: inline-block;
    background: #FFF;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 2px;
    -webkit-animation: blink-1 1.2s infinite both;
            animation: blink-1 1.2s infinite both;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*Contenido por usuarios*/
.content-users .content {
    max-width: 1140px;
    margin: 0 auto;
}

.content-users .content .access {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 65px 0;
}
.content-users .content .access .item {
    margin: 0 10px;
}
.content-users .content .access .item:last-child {
    margin-right: 0;
}
.content-users .content .access .item:first-child {
    margin-left: 0;
}
.content-users .content .access .item a {
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    display: block;
}
.content-users .content .access .item a .description {
    position: absolute;
    bottom: 25px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.content-users .content .access .item a img {
    transition: all .3s ease;
}
.content-users .content .access .item a:hover > img {
    transform: scale(1.02);
}
.content-users .content .access .item a .description p strong {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
}
.content-users .content .access .item a .description p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin: 0 auto;
}

.content-users .content .access .item a span {
    font-family: Times;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 46px;
    color: #FFFFFF;
    display: block;
    background: var(--gris);
    height: 46px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: all .3s ease;
}
.content-users .content .access .item a:hover span {
    background: var(--dorado-uno);
}
.content-users .content .access .item a span .icon {
    display: inline;
    border-radius: 0;
    margin-right: 5px;
    transition: background-position .0s ease;
}

.content-users .content .access .item.viva-vino a span .icon {
    width: 31px;
    height: 32px;
    padding: 5px 16px;
    background: url(../img/user_options.png);
    background-repeat: no-repeat;
    background-position: -88px -200px;
}
.content-users .content .access .item.hablemos-vino a span .icon {
    width: 28px;
    height: 31px;
    padding: 4px 14px;
    background: url(../img/user_options.png);
    background-repeat: no-repeat;
    background-position: -90px -148px;
}
.content-users .content .access .item.cata-vino a span .icon {
    width: 61px;
    height: 43px;
    padding: 10px 23px;
    background: url(../img/user_options.png);
    background-repeat: no-repeat;
    background-position: -71px -13px;
    margin-right: 0;
}
.content-users .content .access .item.experto-vino a span .icon {
    width: 31px;
    height: 32px;
    padding: 11px 17px;
    background: url(../img/user_options.png);
    background-repeat: no-repeat;
    background-position: -86px -79px;
}

.content-users .content .access .item.viva-vino a:hover span .icon {
    background-position: -20px -200px;
}
.content-users .content .access .item.hablemos-vino a:hover span .icon {
    background-position: -21px -148px;
}
.content-users .content .access .item.cata-vino a:hover span .icon {
    background-position: -11px -13px;
}
.content-users .content .access .item.experto-vino a:hover span .icon {
    background-position: -18px -79px;
}
.content-users .content .access .item a #tag-live {
    position: absolute;
    top: 10px;
    left: 10px;
}
.content-users .content .access .item a #tag-live span {
    margin: 0;
}




/*filtros*/
.bodega-home .content .filtros .content .filtro-ppal label {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #9E7E53;
    opacity: 0.6;
    margin-right: 10px;
}
.bodega-home .content .filtros .content .filtro-ppal select {
    border: 1px solid #9E7E53;
    border-radius: 34px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 46px;
    padding: 0 25px;
    padding-right: 40px;
    background: url(../img/select_tipo_vino.png) no-repeat scroll;
    background-position: right 15px top 13px;
    background-size: 17px auto;
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.bodega-home .content .filtros .content .filtro-ppal select option:hover {
    background: var(--dorado-uno);
    color: var(--gris);
}
.bodega-home .content .filtros .content .filtro-ppal select option,
.bodega-home .content .filtros .content .otros-filtros select option {
    background: var(--gris);
    color: var(--dorado-uno);
}

.bodega-home .content .filtros .content .filtro-ppal select,
.bodega-home .content .filtros .content .otros-filtros select {
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.bodega-home .content .filtros .content .otros-filtros label {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    margin-right: 10px;
}
.bodega-home .content .filtros .content .otros-filtros select, 
.bodega-home .content .filtros .content .otros-filtros input, 
.bodega-home .content .filtros .content .otros-filtros button {
    border: 1px solid #524735;
    border-radius: 23px;
    background: transparent;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #C5C5C5;
    height: 36px;
    padding: 0 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
}

.bodega-home .content .filtros .content .otros-filtros select:hover, 
.bodega-home .content .filtros .content .otros-filtros input:hover, 
.bodega-home .content .filtros .content .otros-filtros button:hover,
.bodega-home .content .filtros .content .otros-filtros select:active, 
.bodega-home .content .filtros .content .otros-filtros input.active, 
.bodega-home .content .filtros .content .otros-filtros button.active {
    border: 1px solid var(--dorado-uno);
}
.bodega-home .content .filtros .content .otros-filtros select.pais,
.bodega-home .content .filtros .content .otros-filtros select.tipo-vino {
    background: url(../img/select_filtro.png) no-repeat scroll;
    background-position: right 15px top 10px;
    background-size: 12px auto;
    z-index: 1;
    position: relative;
}
.bodega-home .content .filtros .content .otros-filtros select.precio {
    background: url(../img/select_precio.png) no-repeat scroll;
    background-position: right 15px top 10px;
    background-size: 19px auto;
    z-index: 1;
    position: relative;
}


/*Bodega home*/
.bodega-home {
    background: url(../img/bg_bodegas_home.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-bottom: 60px;
}

.bodega-home .content {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 30px;
}

.bodega-home .content p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}
.bodega-home .content > h2 {
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    text-transform: uppercase;
}
.bodega-home .content .filtros .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.bodega-home .content .filtros {
    margin: 40px 0;
}
.bodega-home .content .filtros .content .otros-filtros {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 30px 0;
}
.bodega-home .content .resultados .content-result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.bodega-home .content .resultados .content-result .item {
    width: 312px;
    padding: 18px 14px;
    background: #000;
    border: 0.5px solid var(--dorado-dos);
    color: #FFF;
    margin-bottom: 60px;
}

.bodega-home .content .resultados .content-result .item > img {
    width: 100%;
}

.bodega-home .content .resultados .content-result .item h3 {
    font-family: Times-bold;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    padding-left: 10px;
}

.bodega-home .content .resultados .content-result .item p {
    text-align: left;
    padding-left: 10px;
    font-size: 11px;
    line-height: 150%;
}

.bodega-home .content .resultados .content-result .item p.country {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.bodega-home .content .resultados .content-result .item p.country img {
    vertical-align: bottom;
    margin-right: 5px;
}

.bodega-home .content .resultados .content-result .item a img {
    vertical-align: middle;
    margin-right: 5px;
}
.bodega-home .content .resultados .content-result .item a {
    padding-left: 10px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--dorado-uno);
    margin: 20px 0 10px;
    display: inline-block;
}

.paginador ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.paginador ul li.number.current a,
.paginador ul li.number a:hover {
    border: 1px solid var(--dorado-uno);
    border-radius: 100%;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}
.paginador ul li.number a {
    color: var(--dorado-dos);
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.14em;
    text-decoration-line: underline;
    display: block;
    width: 39px;
    height: 39px;
    margin: 0 12px;
}
.paginador ul li.arrow a {
    margin: 0 7.5px;
}

footer .content img {
    margin-right: 20px;
}
footer .content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 35px 0;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #C5C5C5;
}








.solo-desktop {
    display: block;
}
.solo-mobile {
    display: none;
}
/*Responsive*/
@media screen and (max-width: 767px) {
    .solo-desktop {
        display: none!important;
    }
    .solo-mobile {
        display: block;
    }
    .login header .content .logo img,
    .registro header .content .logo img {
        height: 83px;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .login header .content .presentacion,
    .registro header .content .presentacion {
        position: relative;
        margin-left: 0;
        width: 91%;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
    }
    .login header .content .presentacion:before,
    .registro header .content .presentacion:before {
        content: "";
        height: 0;
        border: 1px solid var(--dorado-dos);
        position: absolute;
        left: 50%;
        top: -25px;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 145px;
    }
    .login header .content .presentacion h2,
    .registro header .content .presentacion h2 {
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
    }

    .login header .content .presentacion .bajada,
    .registro header .content .presentacion .bajada,
    .login header .content .presentacion .texto,
    .registro header .content .presentacion .texto {
        font-size: 13px;
        line-height: 150%;
        text-align: justify;
    }
    .login header .content .presentacion .bajada br,
    .registro header .content .presentacion .bajada br,
    .login header .content .presentacion .texto br,
    .registro header .content .presentacion .texto br {
        display: none;
    }
    .inicio .content .formulario {
        position: absolute;
        top: 27px;
        right: auto;
        z-index: 999;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
    .login footer,
    .registro footer {
        width: 100%;
        height: 125px;
        bottom: -30px;
    }
    .login footer .content,
    .registro footer .content {
        flex-direction: column;
        padding-top: 0;
    }
    .login footer .content img,
    .registro footer .content img {
        width: 58px;
        margin-bottom: 15px;
    }
    .inicio .content .slider .fade .item .descripcion {
        position: absolute;
        top: auto;
        bottom: 5%;
        left: 8%;
        transform: none;
        font-size: 40px;
        line-height: 110%;
        margin: 0 auto;
        width: 90%;
    }
    .inicio .content .slider .fade .item img {
        width: auto;
        height: 100%;
    }
    .inicio .content .formulario .inner form {
        margin: 0 auto;
    }
    .inicio .content .formulario .ir-otro {
        margin: 0 auto;
        margin-top: 15px;
    }
    div#tlegales .legales-content {
        width: 90%;
    }
    .registro .inicio .content .slider .fade .item .descripcion {
        bottom: 22%;
        left: 10%;
    }
    .login .inicio .content .slider .fade .item .descripcion {
        bottom: 43%;
        left: 10%;
    }
    .eventos .content .banners-home {
        flex-direction: column;
    }
    .eventos .content .banners-home .slider-for,
    .eventos .content .banners-home .slider-nav {
        width: 100%;
    }
    .eventos .content .banners-home .slider-for .item .label {
        width: 180px;
        height: 42px;
        padding-left: 50px;
    }
    .eventos .content .banners-home .slider-for .item .label h2 {
        font-size: 15px;
        font-family: Times;
    }
    .eventos .content .banners-home .slider-for .item .label span {
        font-size: 11px;
    }
    .eventos .content .banners-home .slider-nav .item {
        padding: 20px;
        padding-bottom: 0;
    }
    .eventos .content .banners-home .slider-nav .item .description.live .content .title h2 {
        font-size: 26px;
        display: contents;
    }
    .eventos .content .banners-home .slider-nav .item .description.live .content .title {
        justify-content: center;
        text-align: center;
        padding: 5px 0;
    }
    .eventos .content .banners-home .slider-nav .item .description.live .content .title img {
        height: 53px;
        margin-right: 10px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .text {
        text-align: center;
        font-size: 13px;
    }
    .eventos .content .banners-home .slider-nav .item .description.live .content .text h3 {
        font-size: 26px;
    }
    .eventos .content .banners-home .slider-nav .item .description.live .content .text h3 br {
        display: none;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .text #tag-live {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .text #tag-live span {
        margin: 0 auto;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .cta-btn {
        text-align: center;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .cta-btn a {
        font-size: 14px;
        width: 82%;
        margin: 0 auto;
    }
    .eventos .content .banners-home .slider-nav .item .description.crono .content .title img {
        margin: 0 auto;
        height: 49px;
        width: auto;
    }
    .eventos .content .banners-home .slider-nav .item .description.crono .content .title h2 {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
    .eventos .content .banners-home .slider-nav .item .description.crono .content .title h2 br {
        display: none;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .text ul {
        padding-left: 40px;
        text-align: left;
    }
    .eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content {
        padding: 13px;
    }
    .eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .title h2 {
        font-size: 26px;
        line-height: 28px;
    }
    .eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .cta-btn {
        text-align: left;
        margin-bottom: 5px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .cta-btn a.comprar {
        background: var(--rojo);
        position: relative;
        padding-left: 20px;
        width: auto;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        padding: 0 37px;
    }
    .eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter {
        padding: 0px;
        margin-top: 10px;
        text-align: left;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .eventos .content .banners-home .slider-nav .item .description.sale-exclusive .counter p {
        width: 31%;
        margin-left: 0;
        margin-right: 7px;
    }
    .eventos .content .banners-home .slider-nav .slick-dots {
        position: relative;
    }
    .content-users .content .access .slick-dots {
        bottom: 0;
    }
    .content-users .content .access .item {
        margin: 0 10px;
        border: 0.5px solid var(--dorado-uno);
        max-width: 269px;
    }
    .content-users .content .access .item:first-child {
        margin-left: 10px;
    }
    .content-users .content .access {
        padding: 30px 0 50px;
    }
    .content-users .content .access .slick-dots li button {
        width: 15px;
        height: 15px;
        border: 1px solid var(--dorado-uno);
        border-radius: 100%;
    }
    .slick-dots li button:before {
        content: none;
    }

    .content-users .content .access .slick-dots li.slick-active button {
        background: var(--dorado-uno);
    }
    .bodega-home .content {
        width: 95%;
        padding-top: 5px;
    }
    .bodega-home {
        background: url(../img/bg_bodegas_home_m.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        margin-bottom: 60px;
    }
    .bodega-home .content > h2 {
        font-family: Times-bold;
        font-size: 28px;
        line-height: 37px;
    }
    .bodega-home .content p br {
        display: none;
    }
    .bodega-home .content p {
        font-size: 15px;
    }
    .bodega-home .content .resultados .content-result {
        justify-content: center;
        margin-bottom: 20px;
    }
    .bodega-home .content .resultados .content-result .item {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-start;
    }
    .bodega-home .content .resultados .content-result .item > img {
        width: 40%;
        order: 0;
    }
    .bodega-home .content .resultados .content-result .item h3 {
        font-size: 18px;
        padding-left: 14px;
        width: 60%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bodega-home .content .resultados .content-result .item p.country.solo-mobile {
        padding-left: 0;
    }
    .bodega-home .content .resultados .content-result .item p {
        text-align: left;
        padding-left: 0;
        font-size: 11px;
        line-height: 145%;
    }
    .bodega-home .content .resultados .content-result .item a {
        padding-left: 0;
        margin: 10px 0 10px;
    }
    footer .content {
        flex-direction: column;
    }
    footer .content img {
        margin-right: 0;
        width: 59px;
        margin-bottom: 15px;
    }
    .bodega-home .content .filtros .content .abrir-filtros a {
        border: 1px solid var(--dorado-dos);
        display: flex;
        width: 100%;
        text-align: center;
        height: 52px;
        line-height: 52px;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: #C5C5C5;
        border-radius: 50px;
    }

    .bodega-home .content .filtros .content .abrir-filtros {
        margin: 20px 0 0;
        width: 100%;
    }

    .bodega-home .content .filtros .content .abrir-filtros a img {
        margin-right: 15px;
    }
    .content-users .content .access .item.experto-vino .label#sale-exclusive span {
        margin-bottom: 4px;
    }
    #masthead .container .logo img {
        width: 90px;
        transition: all .3s ease;
    }
    #masthead .container .opciones-cabecera .welcome {
        display: none;
    }
    #masthead .container .logo {
        margin: 9px 20px;
        transition: all .3s ease;
    }
    #masthead .container .opciones-cabecera {
        transition: all .3s ease;
        margin: 9px 12px;
    }
    #masthead .container .opciones-cabecera .carrito {
        margin-right: 0;
    }
    main {
        display: block;
        padding-top: 65px;
    }
    #masthead.header-fixed .container .logo {
        margin: 9px 20px;
    }
    #masthead.header-fixed .container .logo img {
        width: 90px;
    }
    #masthead.header-fixed .container .opciones-cabecera {
        margin: 9px 12px;
    }
    #site-nav.is-active {
        height: calc(100vh - 65px);
        justify-content: flex-start;
    }
    #masthead.is-active.header-fixed #site-nav {
        height: calc(100vh - 65px);
        justify-content: flex-start;
    }
    #site-nav.is-active {
        background: #000 url(../img/bg-menu-m.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    #masthead.is-active .container .opciones-cabecera .welcome {
        display: block;
    }

}

@media screen and (min-width: 1440px) and (max-width: 1699px) {

}

@media screen and (min-width: 1700px) {
    .inicio .content .formulario {
        top: 12%;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .title h2 {
        font-size: 34px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .text {
        font-size: 16px;
    }
    .eventos .content .banners-home .slider-nav .item {
        padding: 50px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .cta-btn a {
        font-size: 17px;
        line-height: 41px;
        height: 41px;
    }
    .content-users .content .access {
        padding: 65px 0;
        padding-top: 85px;
    }
    .content-users .content {
        max-width: 1500px;
        margin: 0 auto;
    }
    .content-users .content .access .item {
        margin: 25px;
    }
    .content-users .content .access .item a img {
        width: 300px;
    }
}